.tab-container {
    display: flex;
}

.tab-button {
    padding: 10px 20px;
    background-color: #8cc9c2;
    cursor: pointer;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}
fieldset {
    background-color: rgb(237, 238, 124);
}

form {
    width: 50%;
    padding-left: 20px;
}


td {
    font-size: 20px;
}

body {
    background-color: rgb(53, 135, 97);
}

